{% if (errormsg is not empty) %}
    {{ errormsg }}
{% else %}
    {% if (form_css_button is not empty) %}
        <style>
            {{ form_css_button }}
        </style>
    {% endif %}

    <form action="{{ payUrl }}">
        <input type="submit" value="{{ buttonLabel }}" />
    </form>
{% endif %}