{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
                    <div class="tab-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                            <div class="col-sm-10">
                                <select name="payment_capusta_status" id="input-status" class="form-control">
                                    {% if payment_capusta_status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-mode"><span data-toggle="tooltip" title="{{ help_capusta_mode }}">{{ entry_mode }}</span></label>
                            <div class="col-sm-10">
                                <select name="payment_capusta_mode" id="input-mode" class="form-control">
                                    {% if payment_capusta_mode == 'prod' %}
                                        <option value="prod" selected="selected">{{ text_prod }}</option>
                                        <option value="test">{{ text_test }}</option>
                                    {% else %}
                                        <option value="prod">{{ text_prod }}</option>
                                        <option value="test" selected="selected">{{ text_test }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-merchant-email">{{ entry_merchant_email }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="payment_capusta_merchant_email" value="{{ payment_capusta_merchant_email }}" placeholder="{{ entry_merchant_email }}" id="input-form-button-label" class="form-control"/>
                                {% if error_merchant_email %}
                                    <div class="text-danger">{{ error_merchant_email }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-merchant-token">{{ entry_merchant_token }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="payment_capusta_merchant_token" value="{{ payment_capusta_merchant_token }}" placeholder="{{ entry_merchant_token }}" id="input-form-button-label" class="form-control"/>
                                {% if error_merchant_token %}
                                    <div class="text-danger">{{ error_merchant_token }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-merchant-projectCode">{{ entry_merchant_projectCode }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="payment_capusta_merchant_projectCode" value="{{ payment_capusta_merchant_projectCode }}" placeholder="{{ entry_merchant_projectCode }}" id="input-form-button-label" class="form-control"/>
                                {% if error_merchant_projectCode %}
                                    <div class="text-danger">{{ error_merchant_projectCode }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-notify-url">{{ entry_notify_url }}</label>
                            <div class="col-sm-10">
                                <input type="text" readonly value="{{ notify_url }}" id="input-notify-url" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-success-url">{{ entry_success_url }}</label>
                            <div class="col-sm-10">
                                <input type="text" readonly value="{{ success_url }}" id="input-success-url" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-fail-url">{{ entry_fail_url }}</label>
                            <div class="col-sm-10">
                                <input type="text" readonly value="{{ fail_url }}" id="input-fail-url" class="form-control" />
                            </div>
                        </div>

{#                        <div class="form-group">#}
{#                            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>#}
{#                            <div class="col-sm-10">#}
{#                                <select name="payment_capusta_order_status_id" id="input-order-status" class="form-control">#}
{#                                    {% for order_status in order_statuses %}#}
{#                                        {% if order_status.order_status_id == payment_capusta_order_status_id %}#}
{#                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>#}
{#                                        {% else %}#}
{#                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-order-status-progress">{{ entry_order_status_progress }}</label>
                            <div class="col-sm-10">
                                <select name="payment_capusta_order_status_progress_id" id="input-order-status-progress" class="form-control">
                                    {% for order_status in order_statuses %}
                                        {% if order_status.order_status_id == payment_capusta_order_status_progress_id %}
                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                        {% else %}
                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-order-status-success">{{ entry_order_status_success }}</label>
                            <div class="col-sm-10">
                                <select name="payment_capusta_order_status_success_id" id="input-order-status-success" class="form-control">
                                    {% for order_status in order_statuses %}
                                        {% if order_status.order_status_id == payment_capusta_order_status_success_id %}
                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                        {% else %}
                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-order-status-cancelled">{{ entry_order_status_cancelled }}</label>
                            <div class="col-sm-10">
                                <select name="payment_capusta_order_status_cancelled_id" id="input-order-status-cancelled" class="form-control">
                                    {% for order_status in order_statuses %}
                                        {% if order_status.order_status_id == payment_capusta_order_status_cancelled_id %}
                                            <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                                        {% else %}
                                            <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-form-button-label"><span data-toggle="tooltip" title="{{ help_form_button_label }}">{{ entry_form_button_label }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="payment_capusta_button_label" value="{{ payment_capusta_button_label }}" placeholder="{{ entry_form_button_label }}" id="input-form-button-label" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                            <div class="col-sm-10">
                                <select name="payment_capusta_geo_zone_id" id="input-geo-zone" class="form-control">
                                    <option value="0">{{ text_all_zones }}</option>
                                    {% for geo_zone in geo_zones %}
                                        {% if geo_zone.geo_zone_id == payment_capusta_geo_zone_id %}
                                            <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                        {% else %}
                                            <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="payment_capusta_sort_order" value="{{ payment_capusta_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="alert alert-info">{{ help_capusta_setup }}</div>
            </div>
        </div>
    </div>
</div>
{{ footer }}